AppConfig(
  server: ServerConfig(
    port: 3001,
    host:"127.0.0.1"
  ),
  auth: AuthConfig(
    enforce_email_domain: "emaengineer.com",
    jwt_secret:"change-me",
    access_token_ttl:"15m",
    refresh_token_ttl:"15d",
    require_email_verification: true,
  ),
  db: DbConfig(
    url:"",
    local_sqlite: LocalSqliteConfig(
      enabled: true,
      db_path: "./the_database.db"
    ),
  ),
  file_storage: FileStorageConfig(
    use_local_file_storage: true,
    local_file_storage_directory_path: "../TEST_LOCAL_SERVER"
  )
)